@page "/announce"
@using SeaHome.Services
@inject TransientService transientApartment
@inject SingletonService singleton

<h3>Announce</h3>

<form>
     <div class="form-group">
        <label for="textareaAnnounce">Добавьте описание объекта</label>
        <textarea class="form-control" id="textareaAnnounce" rows="3" @bind="@text">@singleton.currentUser.Name</textarea>
     </div><br/>

     <div>
        <label for="selectFloor">этаж</label>
        <select class="custom-select custom-select-lg mb-3" id="selectFloor" @bind="@floor">
          
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
          <option value="3">6</option>
          <option value="3">7</option>
          <option value="3">8</option>
          <option value="3">9</option>
        </select><br/>
     
         <label for="selectHouseFloor">этажность здания</label>
         <select class="custom-select custom-select-lg mb-3" id="selectHouseFloor" @bind="@houseFloor">
          @*<option selected>этажность здания</option>*@
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
          <option value="3">6</option>
          <option value="3">7</option>
          <option value="3">8</option>
          <option value="3">9</option>
     </select>
  
     </div>
     

  

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>


  <button class="btn btn-primary" type="submit" @onclick="RegistrationApartment">Submit form</button>
</form>

         

    @*<form>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>*@

     <FileUpload></FileUpload>

@code {
    private string text;
    private int floor; 
    private int houseFloor;
    private double price;
    private User user;
    private Apartament apartament;


    public void RegistrationApartment()
    {
        if(!string.IsNullOrEmpty(singleton.currentUser.Login))
        {
            user = singleton.currentUser;
            apartament = new Apartament(user, text, floor, houseFloor, 1000);
            DBMethods.AddApartamentToDB(apartament);
            transientApartment.currentApartament = apartament;
        }
        
    }

}
