@page "/announce"

<h3>Announce</h3>

     <div class="card card-body">
            Добавьте описание
     </div>
     <div class="form-group">
        <label for="textareaAnnounce">Добавьте описание</label>
        <textarea class="form-control" id="textareaAnnounce" rows="3"></textarea>
    </div>

    <form>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>

     <FileUpload></FileUpload>

@code {

}
