@page "/markCreation"
@using SeaHome.Services

@inject IJSRuntime JSRuntime
@inject SingletonService singleton
@inject ApartamentService apartmentService
@inject GridFSService service

<h5>Добавить или скорректировать точку на карте</h5>
<div>Добавьте координаты точки</div>
<label for="markLatitude">широта:</label>
<input type="text" @bind-value="@latitude" id="markLatitude" />
<label for="markLongitude">долгота:</label>
<input type="text" @bind-value="@longitude" id="markLongitude" />
<div>
	<label for="shortText">Добавьте краткое описание объекта</label>
    <input type="text" id="shortText" @bind="@shortText"/>
</div>
<br />
<button class="btn btn-secondary" @onclick="CreateMapMark">Сохранить отметку на карте</button>


@code {
	
	string latitude;
	string longitude;
	string shortText;

	public void CreateMapMark()
	{
		MapMark mapMark = new MapMark(singleton.currentApartament, shortText, latitude, longitude);
		DBMethods.AddMapMarkToDB(mapMark);

	}

}
