@inherits LayoutComponentBase

<PageTitle>Большая Ялта</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div><img src="/images/21.jpg" width="100%"/></div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
