@page "/"
@using SeaHome.Services
@inject IJSRuntime JSRuntime
@inject SingletonService singleton
@inject ApartamentService apartmentService
@inject GridFSService service

@*<h1>Display Google Map</h1>
<div id="map" style="height:400px;width:100%;">
</div>*@

<form>
<div style="position:relative;overflow:hidden;">
    <a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" 
        style="color:#eee;font-size:12px;position:absolute;top:0px;">
        Яндекс Карты
    </a>
    <a href="https://yandex.ru/maps/?ll=34.082655%2C44.460566&mode=usermaps&source=constructorLink&um=constructor%3A161992161b6ce836895ae5f13a9527cf18bc4d347b3666b5c310daa79b57effc&utm_medium=mapframe&utm_source=maps&z=12" 
        style="color:#eee;font-size:12px;position:absolute;top:14px;">
        Яндекс Карты — транспорт, навигация, поиск мест
    </a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUJaRuMKC" width="80%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;">
        </iframe>
</div>
<table>
    @foreach (Apartament item in apartmentService.GetApartaments())
    {
       <tbody class="border-2">
            <tr>
                <td>стоимость: @item.Price</td>
                <td>@item.Text</td>
                <td>этаж: @item.Floor</td>
                <td>
                    <a href="currentApartament">
                        <button class="btn btn-secondary" @onclick='(()=>singleton.SetCurrentApartament(item))'>Открыть</button> 
                    </a>
                 </td>
            @if (apartmentService.GetImages(item).Count == 0)
                {
                    <td>фотографии не добавлены</td>
                }
            else
                {
                    ImgToDb imageDB = apartmentService.GetImage(item);
                    service.DownloadImageToWWWRoot(imageDB.Name);
                    <td><a @onclick="(() => singleton.SetCurrentApartament(item))" href="currentApartament" ><img src="/images/@service.file" width="200px" /></a></td>
                }
            </tr>
        </tbody>
     }
</table>
</form>
